<h1>SEARCH RESULTS</h1>

<!-- <%= form_tag method: 'post', class: 'add-item-form' do %>
  <%= text_field_tag :image_url, "Image URL" %>
  <%= text_field_tag :sku, "SKU" %>
  <%= text_field_tag :name, "Item Name"  %> <br>
  <%= text_field_tag :customerReviewAverage, "Average Review"  %>
  <%= text_area_tag :shortDescription, "Short Description"  %>
  <%= text_field_tag :salePrice, "Price"  %>
  <%= submit_tag 'Add Item', id: 'addItemButton'%>
<% end %> -->
<div class="search-item" style="float: left; width: 500px; padding: 20px; border: 1px solid #aaa">
  <%= text_field_tag "search", 'Enter search term...', id: 'searchInput' %>
  <%= submit_tag 'Search', id: 'searchItemButton' %>
</div>

<div class="add-item-form" style=" float: right; width: 500px; padding: 20px; border: 1px solid #aaa">
  <h4>Add A Product</h4>
  <%= label_tag 'Name' %> <%= text_field_tag 'Name', '', id: 'productName' %> <br>
  <%= label_tag 'SKU' %> <%= text_field_tag 'SKU', '', id: 'productSKU' %> <br>
  <%= label_tag 'Image' %> <%= text_field_tag 'Image', '', id: 'productImage' %> <br>
  <%= label_tag 'Review' %> <%= text_field_tag 'Review', '', id: 'productReview' %> <br>
  <%= label_tag 'Description' %> <%= text_field_tag 'Description', '', id: 'productDescription' %> <br>
  <%= label_tag 'Price' %> <%= text_field_tag 'Price', '', id: 'productPrice' %> <br>
  <%= submit_tag 'Add Item', id: 'addProductToList' %>
</div>



<% if @products.count > 0 %>
  <table class="table table-bordered search-table">
    <thead>
      <th>IMAGE</th>
      <th>SKU</th>
      <th>NAME</th>
      <th>AVERAGE REVIEW</th>
      <th>DESCRIPTION</th>
      <th>SALE PRICE</th>
    </thead>
    <tbody class="search-results">
        <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product[:image], class: "search-img" %></td>
        <td><%= product[:sku] %></td>
        <td><%= product[:name] %></td>
        <td><%= product[:customerReviewAverage] %></td>
        <td><%= product[:shortDescription] %></td>
        <td><%= product[:salePrice] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else  %>
  <h5>There are no products currently available with that search critera. <%= link_to "Go Back", root_path %></h5>
<% end %>
