<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @items.count %> Items</h1>
    </div>

    <%= form_tag({:controller => "searches", :action=>"index"}, method: :get) do %>

      Search For A Product: <%= text_field_tag :search_params %>
      <%= submit_tag "Search", search_params: nil  %>
    <% end %>

  </div>
  <div class="row"></div>
  <% @items.each do |item| %>
    <div class="col-sm-3">
      <h5><%= item.name %></h5>
      <%= link_to(image_tag(item.image_url), item_path(item)) %>
      <p>
        <%= item.description %>
      </p>
    </div>
  <% end %>
</div>
